body {
    background: #f8f8f8;
}

.menu {
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
}

.header {}

.header img {
    width: 90px;
    border: transparent;
    background: transparent;
}

.menu a:link:hover {
    color: aqua;
}

.menu a:visited:hover {
    color: firebrick;
}

h1,
h2 {
    color: black;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    background: #eaeaea;
}

img {
    border: 1px solid darkgrey;
    padding: 3px;
    border-radius: 16px;
    background: silver;
}

.tar {
    font-style: oblique;
    list-style-image: url(../img/target.svg);
}

.item {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.descr {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.feature {
    font-style: oblique;
    list-style-image: url(../img/target.svg);
}

#myName {
    width: 300px;
    /* Ширина блока */
    background: beige;
    /* Цвет фона */
    padding: 7px;
    /* Поля вокруг текста */
    border: 1px solid #ccc;
    /* Параметры рамки */
}

#myName[type="text"] {
    text-transform: capitalize;
}

#mysubject {
    width: 300px;
    /* Ширина блока */
    background: beige;
    /* Цвет фона */
    padding: 7px;
    /* Поля вокруг текста */
    border: 1px solid #ccc;
    /* Параметры рамки */
}

#mysubject[type="text"] {
    text-transform: capitalize;
}

#myemail {
    width: 300px;
    /* Ширина блока */
    background: beige;
    /* Цвет фона */
    padding: 7px;
    /* Поля вокруг текста */
    border: 1px solid #ccc;
    /* Параметры рамки */
}

#myemail[type=email]:focus {
    background: black;
    color: aliceblue;
}

#myemail[type="email"] {
    text-transform: capitalize;
}

#mymessage {
    width: 300px;
    /* Ширина блока */
    background: beige;
    /* Цвет фона */
    padding: 7px;
    /* Поля вокруг текста */
    border: 1px solid #ccc;
    /* Параметры рамки */
}

#mymessage {
    text-transform: capitalize;
}

#myphone {
    width: 300px;
    /* Ширина блока */
    background: beige;
    /* Цвет фона */
    padding: 7px;
    /* Поля вокруг текста */
    border: 1px solid #ccc;
    /* Параметры рамки */
}